<h4>
  <%= data.district %>
</h4>
<div class ='address'><u> Status: <b><%= data.statusText %></b></u></div>
<div class ='address'> Deal finalized: <%= data.doneDeal %></div>
<div class ='address'> School year starts: <%= data.startDay %></div>
<br>
<div class ='address'> New minimum salary: $ <%= data.newStart %></div>
<div class ='address'> Change from previous: <%= data.percentChange %>%</div>
<br>
<div class ='address'> New maximum salary: $ <%= data.newMax %></div>
<div class ='address'> Change from previous: <%= data.percentChange2 %>%</div>
</div>